<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coffemoa.domain.standard.mapper.CafeMenuMapper">

  <!-- ✅ 메뉴 추가 -->
  <insert id="insert" parameterType="map">
    INSERT INTO `메뉴` (`메뉴명`)
    VALUES (#{cafeMenuName})
  </insert>

  <!-- ✅ 메뉴 조회 -->
  <select id="select" parameterType="map" resultType="com.coffemoa.domain.standard.entity.CafeMenu">
    SELECT
    `메뉴명` AS cafeMenuName
    FROM `메뉴`
    <where>
      <if test="cafeMenuName != null and cafeMenuName != ''">
        AND `메뉴명` = #{cafeMenuName}
      </if>
    </where>
  </select>

  <!-- ✅ 메뉴 수정 -->
  <update id="update" parameterType="map">
    UPDATE `메뉴`
    SET `메뉴명` = #{newCafeMenuName}
    WHERE `메뉴명` = #{cafeMenuName}
  </update>

  <!-- ✅ 메뉴 삭제 -->
  <delete id="delete" parameterType="map">
    DELETE FROM `메뉴`
    <where>
      <if test="cafeMenuName != null and cafeMenuName != ''">
        AND `메뉴명` = #{cafeMenuName}
      </if>
    </where>
  </delete>

</mapper>
